name: Run Python Script Daily (Poetry)

on:
  schedule:
    - cron: "0 0 * * *"      # run once per day at 00:00 UTC
    - cron: "0 12 * * *"     # run again at 12:00 UTC
  workflow_dispatch:         # allow manual run

jobs:
  run-poetry:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        working-directory: ./workspace
        run: poetry install --no-interaction --no-root

      - name: Run script
        working-directory: ./workspace
        run: poetry run python main.py
        #env:
          #ALPACA_API_KEY: ${{ secrets.ALPACA_API_KEY }}
          #ALPACA_API_SECRET: ${{ secrets.ALPACA_API_SECRET }}
          #ALPACA_PAPER_MODE: ${{ secrets.ALPACA_PAPER_MODE || 'True' }}